
$dark-magenta: #BF3415;
$magenta: #F14822;
$orange: #F93700;
$light-orange: #FE6135;
$dark-gray: #41403E;
$light-gray: #A29B90;
$muted-gray: #A5A4A1;
$quiet-gray: #DBD4C9;
$black: black;
$white: white;
