@import './_variables.scss';
@import './animations.scss';

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,600;0,700;0,800;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600;700;800&display=swap');

html, body {
    word-wrap: break-word;
    font-kerning: normal;
    font-feature-settings: "kern", "liga", "clig", "calt";
    font-family: -apple-system,BlinkMacSystemFont,'Catamaran', sans-serif;
    font-size: 1.8rem;
    letter-spacing: -.015em;
    text-align: left;
}

::selection {
    color: $white;
    background-color: $dark-magenta;
}

a {
    text-decoration: none;
    background-color: transparent;
}

h1 {
    font-weight: 400;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

h3, h4 {
    padding: 0;
    margin: 0 0 1.45rem;
    color: inherit;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
}

p {
    padding: 0;
    margin: 0 0 1.45rem;
}

alternate-text { 
    font-family: 'Bitter', serif;
    letter-spacing: 0.015em;
}