@import './_variables.scss';
@import './animations.scss';


html, body {
    word-wrap: break-word;
    font-kerning: normal;
    font-feature-settings: "kern", "liga", "clig", "calt";
    font-family: -apple-system,BlinkMacSystemFont,'Catamaran', sans-serif;
    font-size: 1.8rem;
    letter-spacing: -.015em;
    text-align: left;
    border: none;
    margin: 0;
    padding: 0;
}

::selection {
    color: $white;
    background-color: $dark-magenta;
}

a {
    text-decoration: none;
    background-color: transparent;
}

h1 {
    font-weight: 400;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

h3, h4 {
    padding: 0;
    margin: 0 0 1.45rem;
    color: inherit;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
}

p {
    padding: 0;
    margin: 0 0 1.45rem;
}

.alternate-text { 
    font-family: 'Bitter', serif;
    letter-spacing: 0.015em;
}

.blog-global-wrapper{
    background-color: $white;
}

.stretched-content {
    position: relative;
    width: 100%;
}